:root {
  font-family: "Rajdhani", sans-serif;
  font-size: 28px;
}


body {
  padding-top: 5rem;
  background: #FCFCFC;
}

.buttons {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

button {
  width: 135px;
  height: 60px;
  border-radius: 1rem;
  outline: none;
  font: inherit;
  background: rgb(197, 222, 238);
  border: none;
}

button:hover {
  background: rgb(175, 205, 223);
}

p {
  width: 100%;
  text-align: center;
  font-size: 50px;
}
